.card{
	overflow:hidden;
}

.MovieCard{
	overflow:hidden;
	height:350px;
	position:relative;
}
.MovieCard img{
	height:100%;
	width:100%;
	object-fit:cover;
}

.titleInfo{
	position:absolute;
	left:0;
	bottom:0;
	background-color:skyblue;
	color:#fff;
	width:100%;
	padding:10px;
}

.overview{
	position:absolute;
	left:0;
	top:30%;
	height:70%;
	background-color:#fff;
	width:100%;
	opacity:0;
	transform:translateY(100%);
	transition:all 0.5s linear;
}

.MovieCard:is(:hover, :active, :focus) .overview{
	transform:translateY(0);
	opacity:1;
}
.titleInfo h2{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}


